<div class="row"><input type="text" id="addBurger"><button id="submitBurger">Submit</button></div>


<div class="row">
  <div class="col-5" style='margin:auto'>
    <h2>Burgers To Eat</h2>
    {{#each burgers}}
    {{#unless devoured}}
    <div class="row">
      <h4>{{name}}<button class='btn btn-primary' data-devoured=0 id={{id}}>Devour</button></h4>
    </div>
    {{/unless}}
    {{/each}}
  </div>
  <div class="col-5" style='margin:auto'>
    <h2>Burgers Devoured</h2>
    {{#each burgers}}
    {{#if devoured}}
    <div class="row">
      <h4>{{name}}<button class='btn btn-primary' data-devoured=1 id={{id}}>Throw Up</button></h4>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>